# macOS
.DS_Store

# Xcode
DerivedData/
build/
.build/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
Packages/
Package.resolved

# Logs
*.log

# Temporary files
*.swp
*.tmp

# Archives
*.xcarchive

# App bundles
*.app
*.dmg

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
