# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Logs
*.log

# Temporary files
*.swp
*.tmp

# Archives
*.xcarchive

# App bundles (не храним в репозитории)
*.app
*.dmg

# Optional: если используешь CocoaPods
Pods/

# Optional: fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

